
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        admin区域
        </br>
        首页
        <a href="@Url.Action("Index","Test_Route",new { area=""})">页面跳转</a>
    </div>
</body>
</html>
